<a href="https://colab.research.google.com/github/has-c/UserMobilityMining/blob/master/Gowalla%20ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
import keras
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import accuracy_score

#disable warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
#dataset import
featuresDf = pd.read_csv("Data/FeatureDf.csv")
featuresDf.head()

,Unnamed: 0,userid,placeid,Time,Date,lng,lat,relatedMainCategory,relatedSecondaryCategory
0,0,1338,482954,2.400000,2011.476712,-93.177506,44.934198,Nightlife,Bar
1,1,1338,580963,14.383333,2011.473973,-93.366249,45.204928,Shopping,Gas & Automotive
2,2,1338,365256,23.483333,2011.438356,-93.277574,44.981997,Entertainment,Arena or Stadium
3,3,1338,89504,15.900000,2011.389041,-93.153680,44.982573,Entertainment,Zoo
4,4,1338,1267135,16.850000,2011.386301,-93.187120,44.948173,Shopping,Toys & Games

In [ ]:
#preprocess the features

In [ ]:
#Normalize the data
sc = StandardScaler()
X = sc.fit_transform(X)

In [ ]:
#one hot encode the classes 
ohe = OneHotEncoder()
y = ohe.fit_transform(y).toarray()

In [ ]:
#train test s